<div style="margin-left:350px;border-radius: 25px;border: 2px solid black; width: 620px;height: 715px; ">
    <button style="margin-top:20px;margin-left:-330px;background-color:#D8D8D8" mat-raised-button  (click)="onback()" >Back<mat-icon>keyboard_backspace</mat-icon></button>
 <h1 align="center"><u>Terms And Condition</u></h1>
  <img style="margin-top:5px" height=270px width=610px src="http://localhost:3000/images/furniture_images/terms.jpg">
 <br> <h3><u>Platform for Advertise</u></h3>
 <li>
    Our website is only a venue where users may meet abd interact with one other for their transactions.
 </li>
 <li>
   platform is not responsible for any transactions between two users of the website.
 </li>
 <li>
   All commercial/contractual terms are offered by and agreed to between buyers and sellers only.
 </li>
 <li>
   platform us not responsible for any non-performance or breach of any contract entered into between users.
 </li>

 <h3><u>Your Account and Registration obligations</u></h3>
 <li>
   If you use website as register yser,you are responsible for maintaining the confidentiality of your EmailId and password.

 </li>
 <li>
   You are responsible for all activities that occur under your Email Id and password.
 </li>
 <li>
   If you provide information that is untrue,inaccurate platform has right to suspend or terminate or block access of your membership with website and refuse to provide you with access to the website.
 </li><br>
 <h6 style="margin-left: 120px">  Copyright © 2019 opulence furniture Store All rights reserved</h6>
  </div>

<app-footer></app-footer>
