
<app-header></app-header>
<mat-card class="example-card" style="margin-left:420px;margin-top:20px ">
    <mat-card-header>
        <mat-card-title style="margin-left: 90px"><h2>Change Password</h2></mat-card-title>
      </mat-card-header>

<mat-card-content style="margin-left: 40px">
<form class="example-form" align="center">

  <mat-form-field class="example-full-width">
    <input required #userEmailId1="ngModel"  name="userEmailId" id="userEmailId" placeholder="Enter Email Id" [(ngModel)]="userEmailId" matInput  name="useremailid" >
  </mat-form-field>
  <div [hidden]="userEmailId1.valid || userEmailId1.untouched" >
    <div [hidden]="!userEmailId1.errors?.required"  style="color: red">
        Email Id is required.
        </div>
      </div>

  <br>



  <mat-form-field class="example-full-width">
    <input minlength="8" [type]="hide ? 'password' : 'text'" required #oldpassword1="ngModel"  name="oldpassword" id="oldpassword" placeholder="Enter Old Password" [(ngModel)]="oldPassword" matInput  name="oldpassword">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div [hidden]="oldpassword1.valid || oldpassword1.untouched" >
    <div [hidden]="!oldpassword1.errors?.required"  style="color: red" >
        old password is required.
        </div>
        <div  style="color: red" [hidden]="!oldpassword1.errors?.minlength" >
          password must be of 8 characters
      </div>

      </div>

  <br>




  <mat-form-field class="example-full-width">
    <input minlength="8" [type]="hide ? 'password' : 'text'" required #newpassword1="ngModel"  name="newpassword" id="newpassword" placeholder="Enter New Password" [(ngModel)]="newPassword" matInput  name="newpassword">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div [hidden]="newpassword1.valid || newpassword1.untouched" >
    <div [hidden]="!newpassword1.errors?.required"  style="color: red">
        New password is required.
        </div>
        <div  style="color: red" [hidden]="!newpassword1.errors?.minlength" >
          password must be of 8 characters
      </div>
      </div>

  <br>





  <mat-form-field class="example-full-width">
    <input minlength="8" [type]="hide ? 'password' : 'text'" required #confirmpassword1="ngModel"  name="confirmpassword" id="confirmpassword" placeholder="ReEnter New Password" [(ngModel)]="confirmPassword" matInput  name="confirmPassword">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div [hidden]="confirmpassword1.valid || confirmpassword1.untouched" >
    <div [hidden]="!confirmpassword1.errors?.required"  style="color: red">
        Confirm password is required.
        </div>

        <div  style="color: red" [hidden]="!confirmpassword1.errors?.minlength" >
          password must be of 8 characters
      </div>

      </div>

  <br>

  <br>





  <div class="form-group">
  <button mat-raised-button color="primary"  (click)="onUpdate()" class="form-control">Change Password
    <mat-icon>save_alt</mat-icon>
  </button>&nbsp;&nbsp;&nbsp;






  <button mat-raised-button color="warn" (click)="oncancel()" class="form-control">Cancel
    <mat-icon>cancel</mat-icon>
  </button>
</div>
</form>
</mat-card-content>
</mat-card>
<app-footer></app-footer>
