<div class="footer-content">
  <div class="container">
    <div class="ftr-grids">
      <div class="col-md-3 ftr-grid">
        <h4>About Us</h4>
        <ul>

          <li><a (click)="oncontactus()">Contact Us</a></li>
          <li><a (click)="onaboutus()">About Us</a></li>
        </ul>
      </div>





      <div class="col-md-3 ftr-grid">
          <h4>Help</h4>
          <ul>
            <li><a (click)="onfaqs()">Chat With Us</a></li>
            <li><a (click)="onstorelocator()">store Locator</a></li>

          </ul>
        </div>





          <div class="col-md-3 ftr-grid">
              <h4>My Account</h4>
              <ul>
                <li><a (click)="onviewprofile()">View Profile</a></li>
                <li><a (click)="onchangepassword()">Change password</a></li>
                <li><a (click)="onmyadvertise()">My Advertise</a></li>

              </ul>
            </div>


            <div class="col-md-3 ftr-grid">
                <h4>Information</h4>
                <ul>
                  <li><a>+91 94099 97599</a></li>
                  <li><a>www.opulence.in.net</a></li>
                  <li><a (click)="onterms()">Terms Of Use</a></li>
                </ul>
              </div>




      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->


<div class="footer">
    <div class="container">

      <div class="copywrite">
        <p style="font-size: 15px;margin-top: -22px">Copyright © 2019 opulence furniture Store All rights reserved

        </p>
      </div>
   </div>
    </div>



<!---->
