<div style="margin-left:300px;border-radius: 25px;border: 2px solid black; width: 620px;height: 630px; ">
    <h1 align="center"><u>Store Locator</u></h1>
     <img style="margin-top:5px" height=320px width=610px src="http://localhost:3000/images/furniture_images/map.png">
     <h3><u>Address:-</u></h3>
    <li>
        76,Tulip Chalets,opp. Surmya II,<br>
        &nbsp;&nbsp;Rancharda Kalol road,Ta.Kalol,Dist.
        <br>&nbsp;&nbsp;Gandhinagar.
    </li>
     <h3><u>Email Id:-</u></h3>
    <li>
info@shipraj.co.on
    </li> <br> <h3><u>Contact info:-</u></h3>
    <li>
        +91 94099 97599
    </li>
 <h6 style="margin-left: 120px">  Copyright © 2019 opulence furniture Store All rights reserved</h6>
     </div>
     <app-footer></app-footer>
