
<div style="margin-left:450px;border-radius:25px;border:2px solid black;width: 620px;height: 730px;">
    <h1 align="center"><u>ABOUT US</u></h1>
<img style="margin-top:5px" height="270px" width="617px"  src="http://localhost:3000/images/furniture_images/about-us.jpg">

<h3><u>INTRODUCTION</u></h3>
<li> Opulence Allow user to check different categories of furniture with powerful searching and sorting capabilities.</li>

<li> provide facility to the customer to buy furniture on a rent and also provide a platform to advertise their old furniture.canre.borinngee</li>
<li>website is a venue where users may meet and interact with one another to advertise their old furniture but application is not responsible for any of these transactions.</li>


<h3><u>BRANDS</u></h3>

    <li>Opulnce Understands its users needs and caters to them with choice of many brands like Marion,Arnamika,Louise Queen,Royal oak ETC.</li>
    <li>You can also buy the product of Acropolice,Rickon,Denamik,Inema ETC.</li>


<h3><u>VALUE PROPOSITION</u></h3>

    <li>Opulence value proposition revolves around giving consumer the power and ease of purchasing fashion and lifestyle product online.</li>
    <li>To make online shopping easier for you,a dedicated customer connect team is on standby to answer your queries 24*7.</li>
    <h6 style="margin-left: 120px">  Copyright © 2019 opulence furniture Store All rights reserved</h6>
</div>

<app-footer></app-footer>
